@model DCOEC.Models.Fertilizer

@{
    ViewData["Title"] = "Fertilizer Edit";
}

<h2>Edit</h2>

<h4>Fertilizer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input readonly="readonly" asp-for="FertilizerName" />


            <div class="form-group">
                <div class="checkbox">
                    @*<label asp-for="Oecproduct" class="control-label"></label>
                    <input asp-for="Oecproduct" class="form-control" />
                    <span asp-validation-for="Oecproduct" class="text-danger"></span>*@

                    <label>
                        <input  type="checkbox" asp-for="Oecproduct" /> @Html.DisplayNameFor(model => model.Oecproduct)
                    </label>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" asp-for="Liquid" /> @Html.DisplayNameFor(model => model.Liquid)
                        </label>
                    </div>

                </div>
            </div>
           
            <div class="form-group">
                <input type="submit"   value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
